<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629072468058-8memk5k9mntpl52jajl9bfhmckum3os3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629072468058-8memk5k9mntpl52jajl9bfhmckum3os3</string>
	<key>API_KEY</key>
	<string>AIzaSyB9wS8goXsZIqY4VAN3vOcScKu0c7VVJRo</string>
	<key>GCM_SENDER_ID</key>
	<string>629072468058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lsw.FirebaseToDoList</string>
	<key>PROJECT_ID</key>
	<string>mytodolistapp-314f7</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodolistapp-314f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629072468058:ios:c2ec12aec024e566aca063</string>
	<key>DATABASE_URL</key>
	<string>https://mytodolistapp-314f7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>